# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.Python
.env

# Pip cache
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
pytest_cache/
nosetests.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.logs
*.tmp
*.swp
*.log
